{% extends 'base.html' %}
{% block title %} Best Cafes{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 ">
    <h1 class="display-5 fw-bold">Concept Favourite Cafe List</h1>
    <p class="lead mb-4">Want to know where are great places to drink and work?</p>
    <hr>
    <div class="col-lg-6 text-left">
        <div class="d-grid gap-2 d-sm-flex">
            <a class="btn btn-primary btn-lg px-2 gap-4" href="/cafe-list"> Click Here!</a>
        </div>
    </div>
</div>
{% endblock %}